<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Book</title>
    {% if False %}
        <link rel="stylesheet" href="style.css">
    {% else %}
        {{style_link}}
    {% endif %}
</head>
<body>
    <div class="nav-bar">
        <div id="nav-title-container">
<!--            <div id="nav-title">Navigation</div>-->
            <img src="/Logo.svg" id="nav-img">
        </div>

        <div class="nav-list">
            {% for node in nav_tree.children recursive %}
                <div class="nav-bar-item">
                {% if not node.is_leaf %}
                    {% if page_path in node.reachable %}
                        <input type="checkbox" class="nav-checkbox" id="nav-checkbox-{{loop.depth}}-{{loop.index}}" checked="checked">
                    {% else %}
                        <input type="checkbox" class="nav-checkbox" id="nav-checkbox-{{loop.depth}}-{{loop.index}}">
                    {% endif %}
                    <div class="nav-bar-dropdown-container">
                        <label class="nav-label" for="nav-checkbox-{{loop.depth}}-{{loop.index}}">
                            <span class="nav-dropdown-label-span">
                                {{node.nav_name}}
                            </span>
                        </label>
                        <div class="nav-dropdown-content">
                            {{loop(node.children)}}
                        </div>
                    </div>
                {% else %}
                    <a class="nav-link" href="/{{node.path}}">{{node.nav_name}}</a>
                {% endif%}
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="content-container">
        <div class="content">
            {{page.render()}}
        </div>
    </div>
    <div class="right-content"></div>
</body>
</html>
