* {
    box-sizing: border-box;
}

html, body {
    display: flex;
    height: 100%;

    border: 0;
    margin: 0;

    --full-nav-bar-width: 250px;
    --full-right-bar-width: 100px;
    --nav-bar-label-width: 75px;
}

body {
    width: 100%;
    overflow-y: scroll;
    background-color: #fcfcfc;
}

.content-container {
    margin-left: var(--full-nav-bar-width);
    width: calc(100vw - var(--full-nav-bar-width) - var(--full-right-bar-width));
    float: left;
}

.content {
    width: 60%;
    margin: 0 auto;
}

.content-paragraph {
    margin: 0 auto;
    font-size: 1.2em;
}

.content-paragraph code {
    background-color: dimgray;
    color: white;
    font-size: 0.9em;
    padding: 2px 3px;
    border-radius: 6px;
}

.nowrap {
    white-space: nowrap;
}

.content-title {
    width: fit-content;
    margin: 5% auto ;
    font-size: 4em;
}

.content-title ~ hr {
    margin: 0.5em auto calc(0.5em + 5%) auto;
}

.content-heading {
    margin: 50px auto 0 auto;
    font-size: 2.1em;
}

.content-quote {
    margin: 20px 0;
    padding: 0.25em;
    font-size: 1.1em;
    border-radius: 1em;
    background-color: #c3c3c3;
}

.content-quote blockquote {
    padding: 1em;
    margin: 0;
}

.content-quote figcaption {
    margin: 0;
    padding: 0 1em 1em 1em;
    text-align: right;
}

.content-ordered-list {

}

.content-ordered-list-item::marker {
    font-size: 1.3em;
}

.content-code {
    background-color: dimgray;
    padding: 6px 5px 0 5px;
    margin: 5px auto;
    font-size: 1.075em;
    border: 0 solid blue;
    border-left-width: 3px;

    border-radius: 7px;
}

.content-code pre {
    display: block;
    font-family: monospace;
    color: white;
    margin: 5px 0;

    overflow-x: scroll;
}

.content-code pre::-webkit-scrollbar {
    width: 20px;
    height: 11px;
}

.content-code pre::-webkit-scrollbar-button {
    display: none;
}

.content-code pre::-webkit-scrollbar-track {
    display: none;
}

.content-code pre::-webkit-scrollbar-thumb {
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    background-clip: padding-box;
    border-width: 4px 0 4px 0;
    border-style: solid;
    border-color: transparent;
}

.content-end {
    height: 5vw;
    width: 100%;
}

.nav-bar-side {
    width: 0;

    transition: transform 0.5s ease;
}

.nav-bar-side-checkbox {
    float: left;
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.nav-bar-side-label {
    float: left;
    width: var(--nav-bar-label-width);
    height: 100%;
    visibility: hidden;
    background-color: rgb(100, 100, 100);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.5s ease;
}

.nav-bar-side-label:hover {
    cursor: pointer;
}

.nav-bar-side-label-span::before {
    content: "\27E9";
    font-size: 50px;
    color: white;
    display: inline-block;
    transition: 0.4s;
    padding-left: 2px;
    padding-right: 3px;
}

.nav-bar-side-checkbox:checked ~ .nav-bar-side .nav-bar-side-label .nav-bar-side-label-span::before {
    content: "\27E8";
}

.nav-bar-side-checkbox:checked ~ .nav-bar-side {
    transform: translateX(0);
}

/*.nav-bar-side-checkbox:checked  ~ .nav-bar-side-label {*/
/*    transform: translateX(calc(100vw - 75px));*/
/*}*/

.nav-bar {
    width: var(--full-nav-bar-width);
    float: left;

    margin: 0;
    height: 100%;
    position: fixed;

    /*background-color: rgb(100, 100, 100);*/
    border-right: 3px solid rgb(100, 100, 100);

    transition: transform 0.5s ease;
}

#nav-img {
    width: 100%;
    padding: 10%;
}

#nav-title-container {
    text-align: center;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
}

#nav-title {
    display: inline-block;
    margin: 10px 0;
    font-size: 25px;
}


.nav-bar hr {
    margin: 0;
    color: black;
}

.nav-list {
    user-select: none;
    font-size: 20px;
}

.nav-bar-item {
    width: 100%;
    line-height: 0;
    font-size: 0;
}

.nav-bar-link-container {
    font-size: 20px;
    line-height: 1;

    background-color: #fcfcfc;
    padding-left: 20px;
}

.nav-link {
    background-color: #fcfcfc;
    line-height: 1.2;
    font-size: 20px;

    padding-left: 9px;

    cursor: pointer;
    width: 100%;
    display: block;
    text-decoration: none;
    color: black;
}

.nav-link::before {
    content: "\25BA";
    font-size: 18px;
    padding-right: 4px;
}


.nav-checkbox {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.nav-bar-dropdown-container {
    font-size: 20px;
    line-height: 1;

    background-color: #fcfcfc;
}

.nav-label {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    background-color: #fcfcfc;
    line-height: 1.2;
}

.nav-dropdown-label-span {
    width: 100%;
}

.nav-dropdown-label-span::before {
    content: "\002B";
    display: inline-block;
    transition: 0.4s;
    padding-left: 2px;
    padding-right: 3px;
}

.nav-dropdown-content {
    display: block;
    padding-left: 19px;
    max-height: 0;
    overflow: hidden;
    line-height: 0;
    font-size: 0;
}


.nav-label:hover {
    background-color: #989898;
    cursor: pointer;
}

.nav-link:hover {
    background-color: #989898;
}

.nav-checkbox:checked ~ .nav-bar-dropdown-container > .nav-label > .nav-dropdown-label-span::before {
    content: "\2212";
}

.nav-checkbox:checked ~ .nav-bar-dropdown-container > .nav-dropdown-content {
    max-height: none;
}

.right-content {
    width: var(--full-right-bar-width);
    float: left;

    margin-left: calc(100% - 100px);
    height: 100%;
    position: fixed;

    background-color: #f0f0f0;
}

@media screen and (max-width: 1150px) {
    .content {
        width: 75%;
    }
}

@media screen and (max-width: 600px) {
    .content {
        width: 90%;
    }

    .nav-bar {
        width: calc(100vw - var(--nav-bar-label-width));
        background-color: #fcfcfc;
        position: static;
    }

    #nav-title-container {
        width: 70%;
        height: auto;
        text-align: initial;
        padding-bottom: 0;
        margin: 0 auto;
    }

    .nav-bar-side {
        width: 100vw;
        height: 100%;
        float: left;
        position: fixed;

        background-color: rgb(100, 100, 100);

        transform: translateX(calc(var(--nav-bar-label-width) - 100vw - 1px));
    }

    .nav-bar-side-label{
        visibility: visible;
    }

    .content-container {
        margin-left: var(--nav-bar-label-width);
        width: calc(100% - var(--nav-bar-label-width));
    }

    .content-title {
        margin-top: 35px;
        font-size: 35px;
    }

    .content-ordered-list {
        padding-left: 20px;
        overflow-wrap: break-word;
    }

    .right-content {
        width: 0;
    }
}